<footer class="flex flex-col items-center py-12 bg-primary  w-full text-white border-t-[1px] border-white border-opacity-10 ">

  <div class="flex flex-wrap gap-10 w-full text-base max-w-[1400px] m-auto px-4 justify-between max-lg:flex-col">
    <div class="flex flex-col flex-1 items-start self-start  max-md:max-w-none">
    <a href="#" class="h-[28px]">
      <h4 class="font-BebasNeue dark:text-primaryfont-BebasNeue text-[35px] font-bold leading-none tracking-[1.75px] ">
        checkcargeorgia
      </h4>
    </a>
      <p class="mt-8 leading-7   max-w-[450px]">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id es
      </p>
      <div class="flex gap-5 mt-8 font-medium  max-md:flex-wrap">
        <a
          href="tel:+995 571 52 50 50"
          class="flex gap-2.5 items-center border p-4  border-solid border-white rounded-[60px]">
          <img
            src="icons/smartphone.svg"
            class="object-contain shrink-0  my-auto aspect-square w-[26px]"/>
          <span class="my-auto whitespace-nowrap">+995 571 52 50 50</span>
        </a>
        <a
        href="mailto:checkcargeorgia@gmail.com"
          class="flex gap-2.5 items-center border p-4  border-solid border-white rounded-[60px]">
          <img
          src="icons/email.svg"
            class="bject-contain shrink-0  my-auto aspect-square w-[26px]"/>
          <span class=" my-auto whitespace-nowrap">checkcargeorgia&#64;gmail.com</span>
        </a>
      </div>
    </div>

    <div
      class="flex flex-col flex-1 font-medium  max-md:max-w-full max-w-[400px] max-lg:max-w-none">
      <h2 class="self-start text-3xl">Join Us</h2>
      <p class="self-start mt-5 leading-loose">
        Receive pricing updates, shopping tips & more!
      </p>
      <div
        class="p-3 mt-8 leading-loose  rounded-xl bg-white bg-opacity-10 max-md:px-5 max-md:max-w-full">
        Your email address
      </div>
      <button
        class="gap-2.5 self-stretch p-3 mt-3 leading-loose  bg-blue-600 rounded-xl max-md:px-5">
        Sign Up
      </button>
    </div>
  </div>

  <span class="flex shrink-0 mt-14 max-w-full h-px bg-white bg-opacity-10 w-[1400px] max-md:mt-10"></span>

  <div
    class="flex flex-wrap gap-5 justify-between items-start mt-16 w-full max-w-[1430px] m-auto px-4 max-lg:gap-20">

    <div class="flex flex-col gap-4 max-md:w-[25%] ">
      <h3 class="text-xl font-medium ">Company</h3>
      <nav class="flex flex-col self-start text-base leading-9 ">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Gallery</a>
        <a href="#">Terms</a>
        <a href="#">FAQs</a>
      </nav>
    </div>


    <div class="flex flex-col self-stretch gap-4 max-md:w-[50%] max-sm:w-[40%]">
      <h3 class="text-xl font-medium ">Quick Links</h3>
      <nav class="flex flex-col self-start text-base leading-9 ">
        <a href="#">Get in Touch</a>
        <a href="#">Help Center</a> 
        <a href="#">How It Works</a> 
        <a href="#">Calculator</a> 
        <a href="#">Service</a> 
      </nav>
    </div>




  <div class="flex flex-col self-stretch gap-4 max-md:w-[25%]">
    <h3 class="text-xl font-medium ">Vehicles Type</h3>
    <nav class="flex flex-col self-start text-base leading-9 ">
      <a href="#">Coup</a>
      <a href="#">Sedan</a> 
      <a href="#">SUVs</a>
      <a href="#">Sport Coupe</a>
    </nav>
  </div>

  <div class="flex flex-col self-stretch gap-4 max-md:w-[50%] max-sm:w-[40%]">
    <h3 class="text-xl font-medium ">Our Brands</h3>
    <nav class="flex flex-col self-start text-base leading-9 ">
      <a href="#">Toyota</a>
      <a href="#">BMW</a> 
      <a href="#">Porsche</a>
      <a href="#">Lexus</a>
    </nav>
  </div>

  <div class="flex flex-col items-start  gap-4 max-w-[170px] max-lg:max-w-none  max-md:w-full" >
    <h3 class="text-xl font-medium ">Connect With Us</h3>
    <div class="flex gap-2 flex-wrap items-center ">
      <a
      *ngFor="let image of images; let i = index"
      [href]="image.link"
      target="_blank"
      rel="noopener noreferrer"
      class="flex rounded-full w-[2rem] h-[2rem] justify-center items-center p-1"
    >
      <img
        [src]="image.src"
        [alt]="image.alt"
        class="w-[20px] h-[20px] icon cursor-pointer hover:scale-150 transition-all duration-300"
      />
    </a>
  </div>
  </div>
</div>

  <span class="flex self-stretch mt-16 w-full bg-white bg-opacity-10 min-h-px max-md:mt-10 max-md:max-w-full"></span>

  <div
    class="flex flex-wrap gap-5 mt-10 w-full justify-between text-base leading-loose max-w-[1430px] max-md:max-w-full m-auto px-4 ">
    <div class="flex gap-3 flex-wrap">
      <p class=" "> &copy; {{ currentYear }} checkcargeorgia.ge </p>
      <p class=""> All rights reserved.</p>
    </div>

      <nav
        class="flex gap-2.5 justify-center items-center text-right ">
        <a href="#" class="self-stretch my-auto whitespace-nowrap">Terms & Conditions </a>
        <span class="w-1 h-1 border border-white rounded-full bg-white"></span>
        <a href="#" class="self-stretch my-auto whitespace-nowrap">Privacy Notice</a>
      </nav>
  </div>
</footer>