<footer
class="flex flex-col items-center py-12 bg-primary w-full "
>
<div
  class="flex flex-wrap gap-10 w-full text-base max-w-[1430px] m-auto px-4 justify-between"
>
  <div
    class="flex flex-col flex-1 items-start self-start text-white max-md:max-w-full max-w-[540px]"
  >
  <a href="#" class="h-[28px]">
    <h1 class="text-white font-BebasNeue text-[35px] font-bold leading-none tracking-[1.75px] ">
      checkcargeorgia
    </h1>
  </a>
    <p class="mt-8 leading-7 text-white">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id es
    </p>
    <div
      class="flex gap-5 self-stretch mt-8 w-full font-medium leading-7 max-md:max-w-full"
    >
      <a
        href="tel:+995 571 52 50 50"
        class="flex flex-1 gap-2.5 justify-center items-center px-8 py-2 border border-solid border-white border-opacity-20 rounded-[60px] max-md:px-5"
      >
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6498daaaa47b0a592ce25da1d78274608d602fc2?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 self-stretch my-auto aspect-square w-[26px]"
        />
        <span class="self-stretch my-auto whitespace-nowrap">+995 571 52 50 50</span>
      </a>
      <a
      href="mailto:checkcargeorgia@gmail.com"
        class="flex flex-1 gap-2.5 justify-center items-center px-8 py-2 whitespace-nowrap border border-solid border-white border-opacity-20 rounded-[60px] max-md:px-5"
      >
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/d549baf7ab40663fc0aaf6a2fbfbded24011f2bb?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 self-stretch my-auto aspect-square w-[26px]"
        />
        <span class="self-stretch my-auto whitespace-nowrap">checkcargeorgia&#64;gmail.com</span>

      </a>
    </div>
  </div>

  <div
    class="flex flex-col flex-1 font-medium text-white max-md:max-w-full max-w-[450px]"
  >
    <h2 class="self-start text-3xl">Join BoxCar</h2>
    <p class="self-start mt-5 leading-loose">
      Receive pricing updates, shopping tips & more!
    </p>
    <div
      class="p-3 mt-8 leading-loose text-white rounded-2xl bg-white bg-opacity-10 max-md:px-5 max-md:max-w-full"
    >
      Your email address
    </div>
    <button
      class="gap-2.5 self-stretch p-3 mt-3 leading-loose text-white bg-blue-600 rounded-2xl max-md:px-5"
    >
      Sign Up
    </button>
  </div>
</div>

<div
  class="flex shrink-0 mt-14 max-w-full h-px bg-white bg-opacity-10 w-[1400px] max-md:mt-10"
></div>

<div
  class="flex flex-wrap gap-5 justify-between items-start mt-16 w-full max-w-[1430px] m-auto px-4"
>
  <div class="flex flex-col">
    <h3 class="text-xl font-medium text-white">Company</h3>
    <nav class="flex flex-col self-start mt-8 text-base leading-9 text-white">
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Gallery</a>
    </nav>
  </div>




  <div class="flex flex-col self-stretch">
    <h3 class="text-xl font-medium text-white">Vehicles Type</h3>
    <nav class="flex flex-col self-start mt-8 text-base leading-9 text-white">
      <a href="#">Coup</a>
      <a href="#">Sedan</a> 
      <a href="#">SUVs</a>
      <a href="#">Sport Coupe</a>
    </nav>
  </div>

  <div class="flex flex-col items-start text-white">
    <h3 class="text-xl font-medium text-white">Connect With Us</h3>
    <div
      class="flex gap-6 items-center mt-7 text-sm capitalize whitespace-nowrap"
    >
      <span class="self-stretch my-auto"></span>
      <div
        class="self-stretch px-3.5 w-10 h-10 bg-white bg-opacity-10 rounded-[50px]"
      ></div>
      <span class="self-stretch my-auto"></span>
      <span class="self-stretch my-auto"></span>
    </div>
  </div>
</div>

<div
  class="flex self-stretch mt-16 w-full bg-white bg-opacity-10 min-h-px max-md:mt-10 max-md:max-w-full"
></div>

<div
  class="flex flex-wrap gap-10 mt-10 w-full justify-between text-base leading-loose max-w-[1430px] max-md:max-w-full m-auto px-4"
>
<div class="flex gap-3">
  <p class="text-white"> &copy; {{ currentYear }} checkcargeorgia.ge </p>
  <p class="text-white"> All rights reserved.</p>
</div>

  <nav
    class="flex gap-2.5 justify-center items-center text-right text-white"
  >
    <a href="#" class="self-stretch my-auto">Terms & Conditions </a>
    <span class="w-1 h-1 border border-white rounded-full bg-white"></span>
    <a href="#" class="self-stretch my-auto">Privacy Notice</a>
  </nav>
</div>
</footer>