<div
class="flex flex-col items-center text-base rounded-none text-slate-950"
>
<div
  class="flex relative flex-col self-stretch px-16 pb-7 w-full text-4xl font-bold leading-none text-center min-h-[707px] pt-[650px] max-md:px-5 max-md:pt-24 max-md:max-w-full"
>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/22cc0451c12fd5ad67172364a1a002e14c2672d2?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
    alt=""
    class="object-cover absolute inset-0 size-full"
  />
  <h1>Oops! It looks like you're lost.</h1>
</div>
<p class="leading-7 text-center w-[520px] max-md:max-w-full">
  The page you're looking for isn't available. Try to search again or use
  the go to.
</p>
<a
  routerLink="/"
  class="flex gap-2.5 justify-center items-center px-7 py-5 mt-8 font-medium leading-loose text-blue-600 bg-white rounded-xl border border-blue-600 border-solid max-md:px-5"
  role="button"
>
  <span class="self-stretch my-auto">Go back to home</span>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/81d51c91e314e6f0a88ef8670ae6da001980a0cf?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
    alt=""
    class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
  />
</a>
</div>