<div
class="flex flex-col items-center text-base rounded-none text-primary mb-[100px]"
>
<div
  class="flex  relative flex-col self-stretch  w-full text-4xl font-bold leading-none text-center max-md:max-w-full"
>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/22cc0451c12fd5ad67172364a1a002e14c2672d2?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
    alt=""
    class="ml-[4rem] inset-0 size-full max-h-[600px] max-lg:ml-[2rem] max-sm:ml-[1rem]"
  />
  <h1 class="mb-4">  {{ translations()?.notFound?.title }}</h1>
</div>
<p class="leading-7 text-center w-[520px] max-md:max-w-full ">
{{ translations()?.notFound?.description }}
</p>
<a
  routerLink="/"
  class="flex gap-2.5 justify-center items-center px-7 py-5 mt-8 font-medium leading-loose text-blue-600 bg-white rounded-xl border border-blue-600 border-solid max-md:px-5"
  role="button"
>
  <span class="self-stretch my-auto">   {{ translations()?.notFound?.button }}</span>

</a>
</div>
