<section
      class="flex flex-col items-start px-10 py-11 mx-auto w-full text-base font-medium bg-white rounded-2xl border border-solid border-[color:var(--Border,#E1E1E1)] text-slate-950 max-md:px-5 max-md:mt-10 max-md:max-w-full"
    >
      <h2 class="text-xl">Contact details</h2>

      <p class="self-stretch mt-8 leading-7 max-md:max-w-full">
        Etiam pharetra egestas interdum blandit viverra morbi consequat mi non
        bibendum egestas quam egestas nulla.
      </p>

      <address class="flex gap-2.5 mt-12 leading-7 max-md:mt-10 not-italic">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/08ed74c1a0dac245a78aa498867a65166f94750e?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 self-start aspect-square w-[26px]"
          alt="Address icon"
        />
        <div class="w-full">
          <span class="font-medium">Address</span>
          <br />
          329 Queensberry Street, North
          <br />
          Melbourne VIC3051, Australia.
        </div>
      </address>

      <div class="flex gap-2.5 mt-8 leading-7">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/50d9cd979589893e0529e2737e6161de7972d598?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 self-start mt-1 aspect-square w-[26px]"
          alt="Email icon"
        />
        <div>
          Email
          <br />
        </div>
      </div>

      <div class="flex gap-2.5 mt-8 leading-7">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6866591d688ee06ff511ca2ae4d5bb00d68b0738?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 self-start mt-1.5 aspect-square w-[26px]"
          alt="Phone icon"
        />
        <div>
          Phone
          <br />
          <span class="font-normal">+76 956 039 967</span>
        </div>
      </div>

      <h3 class="mt-8 leading-loose">Follow us</h3>

      <div
        class="flex gap-6 items-center mt-5 text-sm capitalize whitespace-nowrap"
      >
        <div class="self-stretch my-auto"></div>
        <div
          class="self-stretch px-3.5 w-10 h-10 bg-slate-50 rounded-[50px]"
        ></div>
        <div class="self-stretch my-auto"></div>
        <div class="self-stretch my-auto"></div>
      </div>
    </section>