<form class="flex flex-col w-full max-md:mt-10 max-md:max-w-full">
    <h2 class="self-start text-4xl font-bold leading-none text-slate-950">
      Get In Touch
    </h2>

    <p
      class="self-start mt-8 text-base leading-7 text-slate-950 max-md:max-w-full"
    >
      Etiam pharetra egestas interdum blandit viverra morbi consequat mi non
      bibendum egestas quam egestas nulla.
    </p>

    <div class="flex flex-wrap gap-7 mt-12 max-md:mt-10 max-md:max-w-full">
      <app-contact-inputs label="First Name" value="Ali"></app-contact-inputs>
      <app-contact-inputs label="First Name" value="Tufan"></app-contact-inputs>
    </div>

    <div class="flex flex-wrap gap-7 mt-8 max-md:max-w-full">
      <app-contact-inputs
        label="Email"
        value="creativelayers088@gmail.com"
      ></app-contact-inputs>
      <app-contact-inputs
        label="Phone"
        value="+90 47458 27 3287 12"
      ></app-contact-inputs>
    </div>

    <div
      class="flex flex-col items-start pt-5 pr-20 pb-40 pl-5 mt-8 bg-white rounded-xl border border-solid border-[color:var(--Border,#E1E1E1)] max-md:pr-5 max-md:pb-24 max-md:max-w-full"
    >
      <label class="text-sm text-zinc-500">Comment</label>
      <div
        class="mt-2.5 -mb-8 text-base leading-loose text-slate-950 max-md:mb-2.5"
      >
        Lorem Ipsum Dolar Sit Amet
      </div>
    </div>

    <app-contact-button
      text="Send Message"
      class="self-start mt-8"
      type="submit"
    ></app-contact-button>
  </form>