<nav class="text-base text-primary p-4 flex items-center gap-1 max-w-[1430px] m-auto pt-[3rem]">
    <ng-container *ngFor="let crumb of breadcrumb; let i = index; let last = last">
      <ng-container *ngIf="!last">
        <a
          [routerLink]="getLink(i)"
          class="text-secondary hover:underline capitalize"
        >
          {{ crumb }}
        </a>
        <span class="mx-1">/</span>
      </ng-container>
      <ng-container *ngIf="last">
        <span class="capitalize">{{ crumb }}</span>
      </ng-container>
    </ng-container>
  </nav>
  