<section class="gap-16 pl-[calc((100vw-1430px)/2)] relative overflow-hidden">
  <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1400px] text-primary dark:text-white max-md:max-w-full">
    <h2 class="text-4xl font-bold leading-none">Gallery</h2>
    <a href="#" class="flex gap-2.5 justify-center items-center self-start mt-3.5 text-base font-medium leading-loose">
      <span class="self-stretch my-auto">{{translations()?.viewAll}}</span>
      <img src="icons/LinkArrow.svg" class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square dark:invert" />
    </a>
  </div>

  <div class="mt-12 w-full max-w-[1400px] max-md:mt-10 max-md:max-w-full">
    <div class="grid grid-cols-6 gap-5 max-md:grid-cols-1 max-md:gap-x-0">
      <div
        *ngFor="let car of cars.slice(0,5); let i = index"
        class="w-full"
        [ngClass]="i < 2 ? 'col-span-3' : 'col-span-2'"
      >
        <div class="flex relative overflow-hidden flex-col items-start px-8 pb-8 w-full rounded-3xl h-[20rem] max-md:px-5 max-md:pt-24 max-lg:h-[] min-h-[200px] max-sm:max-h-[200px]">
          <img [src]="car.image" [alt]="translations()?.cars[i]?.type" class="absolute inset-0 size-full rounded-3xl object-cover transition-transform duration-500 hover:scale-110" />
          <div class="flex absolute bottom-5 gap-2.5 justify-center items-center px-8 py-2 bg-white rounded-[60px] max-md:px-5">
            <ng-container *ngIf="translations()?.cars[i]?.type?.toLowerCase() === 'suv'">
              <img src="icons/jeep.svg" alt="">
            </ng-container>
            <ng-container *ngIf="translations()?.cars[i]?.type?.toLowerCase() === 'sedan'">
              <img src="icons/sedan.svg" alt="">
            </ng-container>
            <span class="self-stretch my-auto">{{ translations()?.cars[i]?.type }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
