<section
class="flex flex-col justify-center items-center self-start px-16 py-32 mt-32 max-w-full rounded-2xl bg-slate-50 w-[1800px] max-md:px-5 max-md:py-24 max-md:mt-10"
>
<div
  class="mb-0 w-full max-w-[1321px] max-md:mb-2.5 max-md:max-w-full"
  [attr.space]="107"
>
  <div class="flex gap-5 max-md:flex-col">
    <div class="w-[55%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col w-full max-md:mt-10 max-md:max-w-full">
        <h2
          class="self-start text-4xl font-bold leading-none text-slate-950"
        >
          Why Choose Us?
        </h2>
        <div
          class="mt-12 max-md:mt-10 max-md:max-w-full"
          [attr.space]="106"
        >
          <div class="flex gap-5 max-md:flex-col">
            <div class="w-6/12 max-md:ml-0 max-md:w-full">
              <article class="grow text-slate-950 max-md:mt-10">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/d62ff32ef09433fb4e5cb721008d85ce5080e5c3?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                  class="object-contain aspect-[0.85] w-[51px]"
                />
                <h3 class="mt-8 mr-5 text-xl font-medium max-md:mr-2.5">
                  Special Financing Offers
                </h3>
                <p class="mt-8 text-base leading-7">
                  Our stress-free finance department that can find
                  financial solutions to save you money.
                </p>
              </article>
            </div>
            <div class="ml-5 w-6/12 max-md:ml-0 max-md:w-full">
              <article
                class="flex flex-col grow items-start text-slate-950 max-md:mt-10"
              >
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc8c17cd79304056d9873d4840545ed6dc939f78?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                  class="object-contain aspect-square w-[60px]"
                />
                <h3 class="mt-8 text-xl font-medium">
                  Trusted Car Dealership
                </h3>
                <p class="self-stretch mt-8 text-base leading-7">
                  Our stress-free finance department that can find
                  financial solutions to save you money.
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-5 w-[23%] max-md:ml-0 max-md:w-full">
      <article
        class="flex flex-col grow items-start mt-20 text-slate-950 max-md:mt-10"
      >
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/da87a1a86b00fd1a0e8ae21429e36f6b13952b50?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain aspect-square w-[60px]"
        />
        <h3 class="mt-8 text-xl font-medium">Transparent Pricing</h3>
        <p class="self-stretch mt-8 text-base leading-7">
          Our stress-free finance department that can find financial
          solutions to save you money.
        </p>
      </article>
    </div>
    <div class="ml-5 w-[23%] max-md:ml-0 max-md:w-full">
      <article
        class="flex flex-col grow items-start mt-20 text-slate-950 max-md:mt-10"
      >
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/56de4e30b234f3e27535f0c7a37dc9e9900d265a?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain aspect-square w-[60px]"
        />
        <h3 class="mt-8 text-xl font-medium">Expert Car Service</h3>
        <p class="self-stretch mt-8 text-base leading-7">
          Our stress-free finance department that can find financial
          solutions to save you money.
        </p>
      </article>
    </div>
  </div>
</div>
</section>