<section class="flex gap-16 relative overflow-hidden max-w-[1800px] m-auto bg-bg-1 rounded-lg">
  <div class="flex flex-col w-full h-[520px]  max-w-[1430px] m-auto py-24 gap-12 p-4">
      <h1 class="text-4xl font-bold leading-[45px]">Why Choose Us?</h1>
      <div class="flex w-full gap-12 ">
        <div class="flex flex-col max-w-[30%] gap-12">
          <img src="icons/tag1.svg" alt="" class="w-[60px] h-[60px]">
          <div class="flex flex-col gap-3">
            <h3 class="text-xl font-medium">Special Financing Offers</h3>
            <p class="text-primary text-sm font-normal leading-[26px] ">Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>
        </div>
        <div class="flex flex-col max-w-[30%] gap-12">
          <img src="icons/tag1.svg" alt="" class="w-[60px] h-[60px]">
          <div class="flex flex-col gap-3">
            <h3 class="text-xl font-medium">Special Financing Offers</h3>
            <p class="text-primary text-sm font-normal leading-[26px] ">Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>
        </div>
        <div class="flex flex-col max-w-[30%] gap-12">
          <img src="icons/tag1.svg" alt="" class="w-[60px] h-[60px]">
          <div class="flex flex-col gap-3">
            <h3 class="text-xl font-medium">Special Financing Offers</h3>
            <p class="text-primary text-sm font-normal leading-[26px] ">Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>
        </div>
        <div class="flex flex-col max-w-[30%] gap-12">
          <img src="icons/tag1.svg" alt="" class="w-[60px] h-[60px]">
          <div class="flex flex-col gap-3">
            <h3 class="text-xl font-medium">Special Financing Offers</h3>
            <p class="text-primary text-sm font-normal leading-[26px] ">Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>
        </div>
      </div>
  </div>
 
</section>