<section class="flex gap-16 relative overflow-hidden max-w-[1800px] m-auto bg-bg-1 dark:bg-[#0D132F] target-class rounded-lg">
  <div class="flex flex-col w-full h-[520px] max-w-[1430px] m-auto py-24 gap-12 px-4 max-xl:h-auto max-xl:py-6 max-sm:gap-6">
    <h4 class="font-bold leading-[45px] dark:text-white">Why Choose Us?</h4>
    <div class="grid w-full gap-12 md:grid-cols-2 xl:grid-cols-4 text-primary dark:text-white">
      <div class="flex flex-col gap-12 max-sm:gap-3">
        <img src="icons/smartphone.svg" alt="Fast booking" class="w-[60px] h-[60px]">
        <div class="flex flex-col gap-3">
          <h5 class="font-medium">Fast Booking</h5>
          <p class="text-sm font-normal leading-[26px]">Quick confirmation, direct communication and flexible reservation options anytime.</p>
        </div>
      </div>
      <div class="flex flex-col gap-12 max-sm:gap-3">
        <img src="icons/day.svg" alt="24/7 support" class="w-[60px] h-[60px]">
        <div class="flex flex-col gap-3">
          <h5 class="font-medium">24/7 Support</h5>
          <p class="text-sm font-normal leading-[26px]">We stay in touch before, during and after your rental for a smooth experience.</p>
        </div>
      </div>
      <div class="flex flex-col gap-12 max-sm:gap-3">
        <img src="icons/calendar.svg" alt="Flexible dates" class="w-[60px] h-[60px]">
        <div class="flex flex-col gap-3">
          <h5 class="font-medium">Flexible Dates</h5>
          <p class="text-sm font-normal leading-[26px]">Book in advance for any future period and adjust rental dates with ease.</p>
        </div>
      </div>
      <div class="flex flex-col gap-12 max-sm:gap-3">
        <img src="icons/contact-location.svg" alt="Delivery anywhere" class="w-[60px] h-[60px]">
        <div class="flex flex-col gap-3">
          <h5 class="font-medium">Delivery Anywhere</h5>
          <p class="text-sm font-normal leading-[26px]">Airport pickup and delivery across Tbilisi and other agreed locations is available.</p>
        </div>
      </div>
    </div>
  </div>
</section>
