<div class="flex overflow-hidden flex-col bg-white">
    <!-- <app-header-section></app-header-section> -->

    <main
      class="flex flex-col self-center mt-5 w-full max-w-[1700px] max-md:max-w-full"
    >
      <h1
        class="self-start ml-36 text-4xl font-bold leading-none text-slate-950 max-md:ml-2.5"
      >
        Contact Us
      </h1>

      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7a0ba84d730f78345ae2b7248572338de14faed8?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
        class="object-contain mt-16 w-full rounded-none aspect-[2.83] max-md:mt-10 max-md:max-w-full"
        alt="Contact map"
      />

      <section
        class="self-center mt-16 w-full max-w-[1400px] max-md:mt-10 max-md:max-w-full"
      >
        <div class="flex gap-5 max-md:flex-col">
          <div class="w-[55%] max-md:ml-0 max-md:w-full">
            <app-contact-form></app-contact-form>
          </div>
          <div class="ml-5 w-[45%] max-md:ml-0 max-md:w-full">
            <app-contact-details-card></app-contact-details-card>
          </div>
        </div>
      </section>

      <section class="self-center mt-32 max-w-full w-[1293px] max-md:mt-10">
        <div class="flex gap-5 max-md:flex-col">
          <div class="w-[33%] max-md:ml-0 max-md:w-full">
            <app-contact-location
              location="San Francisco"
              address="329 Queensberry Street, North Melbourne VIC3051, Australia."
              email="ali@boxcars.com"
              phone="+76 956 039 967"
            ></app-contact-location>
          </div>
          <div class="ml-5 w-[33%] max-md:ml-0 max-md:w-full">
            <app-contact-location
              location="New York"
              address="329 Queensberry Street, North Melbourne VIC3051, Australia."
              email="ali@boxcars.com"
              phone="+76 956 039 967"
              class="mt-20 max-md:mt-10"
            ></app-contact-location>
          </div>
          <div class="ml-5 w-[33%] max-md:ml-0 max-md:w-full">
            <app-contact-location
              location="London"
              address="329 Queensberry Street, North Melbourne VIC3051, Australia."
              email="ali@boxcars.com"
              phone="+76 956 039 967"
              class="mt-20 max-md:mt-10"
            ></app-contact-location>
          </div>
        </div>
      </section>
    </main>

  </div>