  <app-hero-section></app-hero-section>
 
     
    <div class="flex flex-col w-full gap-24">
      <app-vehicle-listing class="px-4 hidden-fade" appScrollFade></app-vehicle-listing>
      <app-why-us-section class="hidden-fade" appScrollFade></app-why-us-section>
      <app-gallery class="px-4 hidden-fade" appScrollFade></app-gallery>
      <app-loan-calculator class="hidden-fade" appScrollFade></app-loan-calculator>
      <app-social-media class="hidden-fade" appScrollFade></app-social-media>
    </div>