  <app-hero-section></app-hero-section>
 
     
    <div class="flex flex-col w-full gap-32 dark:bg-primary max-md:gap-16">
      <!-- <app-vehicle-types class="px-4 py-12 hidden-fade" appScrollFade></app-vehicle-types> -->
      <app-vehicle-listing class="px-4 hidden-fade" appScrollFade></app-vehicle-listing>
      <app-why-us-section class="hidden-fade" appScrollFade></app-why-us-section>
      <app-gallery class="px-4 hidden-fade" appScrollFade></app-gallery>
      <app-loan-calculator class="hidden-fade" appScrollFade></app-loan-calculator>
      <app-booking-section class="hidden-fade" appScrollFade></app-booking-section>
      <app-social-section class="hidden-fade" appScrollFade></app-social-section>
      <app-video-section class="hidden-fade" appScrollFade></app-video-section>

      <app-faq class="hidden-fade" appScrollFade></app-faq>
    </div>