<header
class="flex relative flex-col px-16 pt-8 pb-2.5 w-full rounded-none min-h-[186px] max-md:px-5 max-md:max-w-full"
>
<img
  src="https://cdn.builder.io/api/v1/image/assets/TEMP/23e5522c399c3fdd627f8ee47d8995ec04f03424?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
  class="object-cover absolute inset-0 size-full"
  alt="Background image"
/>
<div
  class="flex relative flex-wrap gap-5 justify-between w-full text-white max-md:max-w-full"
>
  <div class="flex gap-10 my-auto">
    <h1 class="text-4xl font-bold tracking-widest whitespace-nowrap">
      boxcars
    </h1>
    <div class="flex gap-3 my-auto text-base font-medium leading-loose">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f1a0e27473b59e8e08fef2dfcc7c55b8ea0b2772?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
        class="object-contain shrink-0 w-4 aspect-square"
        alt="Search icon"
      />
      <p class="my-auto basis-auto">Search Cars eg. Audi Q7</p>
    </div>
  </div>
  <nav
    class="flex flex-wrap gap-8 items-center text-base font-medium leading-loose max-md:max-w-full"
  >
    <div
      class="flex flex-wrap gap-8 items-center self-stretch my-auto whitespace-nowrap max-md:max-w-full"
    >
      <div class="flex gap-2.5 items-start self-stretch my-auto w-[67px]">
        <a href="#">Home</a>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/77e752af2d0d77e02cd19931a307ed6801b13d35?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 w-2 aspect-square"
          alt="Dropdown arrow"
        />
      </div>
      <div class="flex gap-2.5 items-start self-stretch my-auto">
        <a href="#">Inventory</a>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/77e752af2d0d77e02cd19931a307ed6801b13d35?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 w-2 aspect-square"
          alt="Dropdown arrow"
        />
      </div>
      <div class="flex gap-2.5 items-start self-stretch my-auto">
        <a href="#">Blog</a>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/77e752af2d0d77e02cd19931a307ed6801b13d35?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 w-2 aspect-square"
          alt="Dropdown arrow"
        />
      </div>
      <div class="flex gap-2.5 items-start self-stretch my-auto">
        <a href="#">Shop</a>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/77e752af2d0d77e02cd19931a307ed6801b13d35?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 w-2 aspect-square"
          alt="Dropdown arrow"
        />
      </div>
      <div class="flex gap-2.5 items-start self-stretch my-auto">
        <a href="#">Pages</a>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/77e752af2d0d77e02cd19931a307ed6801b13d35?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
          class="object-contain shrink-0 w-2 aspect-square"
          alt="Dropdown arrow"
        />
      </div>
      <div class="gap-2.5 self-stretch my-auto">
        <a href="#" class="font-bold">Contact</a>
      </div>
    </div>
    <div class="flex gap-2.5 self-stretch my-auto">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/87ec5d142247d71d483acd35e0b731014dcc8fcf?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
        class="object-contain shrink-0 w-4 aspect-square"
        alt="Sign in icon"
      />
      <a href="#" class="my-auto">Sign in</a>
    </div>
    <button
      class="gap-2.5 self-stretch px-7 py-5 border border-solid border-[color:var(--White,#FFF)] rounded-[120px] max-md:px-5"
    >
      Add Listing
    </button>
  </nav>
</div>
<div
  class="relative self-start mt-24 ml-52 text-base leading-loose text-slate-950 max-md:mt-10 max-md:ml-2.5"
>
  <a href="#" class="text-[rgba(64,95,242,1)]">Home</a>
  / Cars for Sale
</div>
</header>