@keyframes scrollLoop {
  from { transform: translate3d(0,0,0); }
  to { transform: translate3d(-50%,0,0); }
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: max-content;
  will-change: transform;
  animation: scrollLoop 70s linear infinite;
}

.slider-track a {
  flex-shrink: 0;
}


.animate-scroll {
  animation: bodyStyleScroll 70s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes bodyStyleScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
