<div class="flex flex-col gap-4 max-w-[1430px] m-auto px-4">
  <h2 class="text-4xl font-bold leading-10 text-center  text-primary max-md:mb-10 max-md:text-3xl max-sm:mb-8 max-sm:text-2xl">
    Select a Body Style
  </h2>

  <div class="relative overflow-hidden">
    <div class="slider-wrapper overflow-hidden">
      <div class="slider-track flex whitespace-nowrap animate-scroll">
        <ng-container *ngFor="let style of duplicatedStyles">
          <a
            [routerLink]="['/gallery', style.name.toLowerCase()]"
            class="inline-block w-[200px] px-4"
          >
            <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300">
              <img
                [src]="style.image"
                [alt]="style.altText"
                class="object-contain h-[150px] w-[200px] max-sm:w-full max-sm:h-auto"
              />
              <div class="mt-2.5 text-lg text-primary max-sm:text-base">
                {{ style.name }}
              </div>
            </div>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
