<div class="flex flex-col items-start rounded-none">
    <div class="ml-36 w-full max-w-[1400px] max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-[45%] max-md:ml-0 max-md:w-full">
          <div
            class="flex flex-col items-start self-stretch my-auto w-full text-base text-slate-950 max-md:mt-10 max-md:max-w-full"
          >
            <h1 class="text-4xl font-bold leading-[55px] max-md:max-w-full">
              Service Options Offered
              <br />
              by BoxCar
            </h1>
            <p
              class="self-stretch mt-12 leading-7 max-md:mt-10 max-md:max-w-full"
            >
              Choose from thousands of vehicles from multiple brands and buy
              online with Click & Drive, or visit us at one of our dealerships
              today.
            </p>
            <button
              class="flex gap-2.5 justify-center items-center px-7 py-5 mt-12 font-medium leading-loose text-white bg-blue-600 rounded-xl border border-blue-600 border-solid max-md:px-5 max-md:mt-10"
              aria-label="See Your Service Options"
            >
              <span class="self-stretch my-auto">See Your Service Options</span>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2cb907b3e705d1ee13359ac9d557b52dfd4630b3?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                alt=""
              />
            </button>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-[55%] max-md:ml-0 max-md:w-full">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/6244bf2382757eb69f5a771216d458a04d220b84?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            class="object-contain grow w-full rounded-none aspect-[1.14] max-md:mt-10 max-md:max-w-full"
            alt="Service options illustration"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center px-20 py-32 mt-32 w-full rounded-2xl bg-slate-50 max-w-[1700px] max-md:px-5 max-md:py-24 max-md:mt-10 max-md:max-w-full"
    >
      <div
        class="flex flex-col mb-0 w-full max-w-[1400px] max-md:mb-2.5 max-md:max-w-full"
      >
        <h2
          class="self-start text-4xl font-bold leading-none text-slate-950 max-md:max-w-full"
        >
          Customers Get Great benefits!
        </h2>
        <div class="mt-12 max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col">
            <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow items-start text-slate-950 max-md:mt-7"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/31f89560c0a00aef52cb0bd7b1e1fe0250cf4ed7?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                  class="object-contain aspect-[0.85] w-[51px]"
                  alt=""
                />
                <h3 class="mt-8 text-xl font-medium">Safety</h3>
                <p class="self-stretch mt-8 text-base leading-7">
                  Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id es. Lorem ipsum
                  dolor sit amet.
                </p>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow items-start text-slate-950 max-md:mt-7"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/818e7c4c177c097564004e9bb6750ec9f19593f8?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                  class="object-contain aspect-square w-[60px]"
                  alt=""
                />
                <h3 class="mt-8 text-xl font-medium">Environment</h3>
                <p class="self-stretch mt-8 text-base leading-7">
                  Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id es. Lorem ipsum
                  dolor sit amet.
                </p>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow items-start text-slate-950 max-md:mt-7"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc8c17cd79304056d9873d4840545ed6dc939f78?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                  class="object-contain aspect-square w-[60px]"
                  alt=""
                />
                <h3 class="mt-8 text-xl font-medium">Fuel Cost</h3>
                <p class="self-stretch mt-8 text-base leading-7">
                  Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id es. Lorem ipsum
                  dolor sit amet.
                </p>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow items-start text-slate-950 max-md:mt-7"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/56de4e30b234f3e27535f0c7a37dc9e9900d265a?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                  class="object-contain aspect-square w-[60px]"
                  alt=""
                />
                <h3 class="mt-8 text-xl font-medium">Maintenance</h3>
                <p class="self-stretch mt-8 text-base leading-7">
                  Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id es. Lorem ipsum
                  dolor sit amet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-start self-end mt-32 w-full max-w-[1757px] max-md:mt-10 max-md:max-w-full"
    >
      <h2 class="text-4xl font-bold leading-none text-slate-950">
        Our Services
      </h2>
      <div
        class="flex flex-wrap gap-7 self-stretch mt-12 text-base font-medium text-slate-950 max-md:mt-10"
      >
        <div
          class="flex flex-col flex-1 pb-7 bg-white rounded-2xl shadow-2xl"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/03022a6e045a124048eddaf3790e76aae7f47c01?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            class="object-contain w-full rounded-none aspect-[1.32]"
            alt="Oil Filter Replacement"
          />
          <div class="flex flex-col items-start px-8 mt-8 w-full max-md:px-5">
            <h3 class="text-xl">Oil Filter Replacement</h3>
            <p class="mt-5 leading-7">
              Sed ut perspiciatis unde omnis iste natus error sit.
            </p>
            <button
              class="flex gap-2.5 justify-center items-center mt-8 leading-loose"
              aria-label="Explore More about Oil Filter Replacement"
            >
              <span class="self-stretch my-auto">Explore More</span>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2c017a8094cb33097cd9c7baeeb46381d01c61a5?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                alt=""
              />
            </button>
          </div>
        </div>
        <div
          class="flex flex-col flex-1 pb-7 bg-white rounded-2xl shadow-2xl"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/a782d17abaa47fbb633bce4b334b318b704af259?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            class="object-contain w-full rounded-none aspect-[1.32]"
            alt="Brake Repair"
          />
          <div class="flex flex-col items-start px-8 mt-8 w-full max-md:px-5">
            <h3 class="text-xl">Brake Repair</h3>
            <p class="mt-5 leading-7">
              Sed ut perspiciatis unde omnis iste natus error sit.
            </p>
            <button
              class="flex gap-2.5 justify-center items-center mt-8 leading-loose"
              aria-label="Explore More about Brake Repair"
            >
              <span class="self-stretch my-auto">Explore More</span>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/82b3381ed5b3e6e1e609014258d6df86895ffb78?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                alt=""
              />
            </button>
          </div>
        </div>
        <div
          class="flex flex-col flex-1 pb-7 bg-white rounded-2xl shadow-2xl"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/a782d17abaa47fbb633bce4b334b318b704af259?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            class="object-contain w-full rounded-none aspect-[1.32]"
            alt="Engine Diagnostic"
          />
          <div class="flex flex-col items-start px-8 mt-8 w-full max-md:px-5">
            <h3 class="text-xl">Engine Diagnostic</h3>
            <p class="mt-5 leading-7">
              Sed ut perspiciatis unde omnis iste natus error sit.
            </p>
            <button
              class="flex gap-2.5 justify-center items-center mt-8 leading-loose"
              aria-label="Explore More about Engine Diagnostic"
            >
              <span class="self-stretch my-auto">Explore More</span>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/4c21a26dc595c0f3db7a005342b0a05161fc2140?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                alt=""
              />
            </button>
          </div>
        </div>
        <div
          class="flex flex-col flex-1 pb-7 bg-white rounded-2xl shadow-2xl"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/a782d17abaa47fbb633bce4b334b318b704af259?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            class="object-contain w-full rounded-none aspect-[1.32]"
            alt="Belts, Hoses, Fluids"
          />
          <div class="flex flex-col items-start px-8 mt-8 w-full max-md:px-5">
            <h3 class="text-xl">Belts, Hoses, Fluids</h3>
            <p class="mt-5 leading-7">
              Sed ut perspiciatis unde omnis iste natus error sit.
            </p>
            <button
              class="flex gap-2.5 justify-center items-center mt-8 leading-loose"
              aria-label="Explore More about Belts, Hoses, Fluids"
            >
              <span class="self-stretch my-auto">Explore More</span>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6f0730d8e599625f95cf6b49ba4701219e0c528?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                alt=""
              />
            </button>
          </div>
        </div>
        <div
          class="flex flex-col flex-1 pb-7 bg-white rounded-2xl shadow-2xl"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ea76173abcacc10b4db891fe422156d4117abde9?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            class="object-contain w-full rounded-none aspect-[1.32]"
            alt="Transmission Services"
          />
          <div
            class="flex flex-col items-start pr-16 pl-8 mt-8 w-full max-md:px-5"
          >
            <h3 class="text-xl">Transmission Services</h3>
            <p class="mt-5 leading-7 w-[270px]">
              Sed ut perspiciatis unde omnis iste natus error sit.
            </p>
            <button
              class="flex gap-2.5 justify-center items-center mt-8 leading-loose"
              aria-label="Explore More about Transmission Services"
            >
              <span class="self-stretch my-auto">Explore More</span>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/514009d76a2ff83ed605c99f2330ccdfdff40b88?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex gap-10 mt-12 text-base leading-loose text-slate-950 max-md:mt-10"
      >
        <button
          aria-label="Previous service"
          class="object-contain shrink-0 aspect-[1.5] w-[60px]"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e6953da62dad7981f8a298c5413cce3c0847a07?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            alt=""
            class="w-full h-full"
          />
        </button>
        <div class="my-auto" aria-live="polite">5 of 13</div>
        <button
          aria-label="Next service"
          class="object-contain shrink-0 aspect-[1.5] w-[60px]"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/7d287c78c8624cdf6f396b2bc4953d1ba3e1fe83?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
            alt=""
            class="w-full h-full"
          />
        </button>
      </div>
      Continuing from where we left off:

      <div class="mt-32 w-full max-w-[1400px] max-md:mt-10 max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col">
          <div class="flex flex-col w-[70%] max-md:ml-0 max-md:w-full">
            <div
              class="flex flex-col p-16 mx-auto w-full rounded-2xl border border-solid bg-slate-50 border-neutral-200 max-md:px-5 max-md:mt-10 max-md:max-w-full"
            >
              <h2
                class="self-start text-4xl font-bold leading-none text-slate-950"
              >
                Schedule Service
              </h2>
              <p
                class="self-start mt-8 text-base leading-7 text-slate-950 max-md:max-w-full"
              >
                Use our loan calculator to calculate payments over the life of
                your loan. Enter your information to see how much your monthly
                payments could be. You can adjust length of loan, down payment
                and interest rate to see how those changes raise or lower your
                payments.
              </p>
              <form
                class="mt-16 max-md:mt-10 max-md:max-w-full"
                (ngSubmit)="onSubmit()"
              >
                <div class="flex flex-wrap gap-8 whitespace-nowrap max-md:max-w-full">
                  <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
                    <div
                      class="flex flex-col items-start py-2.5 pr-20 pl-4 bg-white rounded-xl border border-solid border-neutral-200 max-md:pr-5"
                    >
                      <label for="name" class="text-sm text-zinc-500">Name</label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        [(ngModel)]="formData.name"
                        class="text-base text-slate-950 w-full bg-transparent border-none focus:outline-none"
                        required
                      />
                    </div>
                  </div>
                  <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
                    <div
                      class="flex flex-col items-start py-2.5 pr-20 pl-4 bg-white rounded-xl border border-solid border-neutral-200 max-md:pr-5"
                    >
                      <label for="email" class="text-sm text-zinc-500">Email</label>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        [(ngModel)]="formData.email"
                        class="text-base text-slate-950 w-full bg-transparent border-none focus:outline-none"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap gap-8 mt-8 max-md:max-w-full">
                  <div
                    class="flex flex-col flex-1 grow shrink-0 whitespace-nowrap basis-0 w-fit"
                  >
                    <div
                      class="flex flex-col items-start py-2.5 pr-20 pl-4 bg-white rounded-xl border border-solid border-neutral-200 max-md:pr-5"
                    >
                      <label for="phone" class="text-sm text-zinc-500">Phone</label>
                      <input
                        type="tel"
                        id="phone"
                        name="phone"
                        [(ngModel)]="formData.phone"
                        class="text-base text-slate-950 w-full bg-transparent border-none focus:outline-none"
                        required
                      />
                    </div>
                  </div>
                  <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
                    <div
                      class="flex flex-col items-start py-2.5 pr-20 pl-4 bg-white rounded-xl border border-solid border-neutral-200 max-md:pr-5"
                    >
                      <label for="model" class="text-sm text-zinc-500">Make Model</label>
                      <input
                        type="text"
                        id="model"
                        name="model"
                        [(ngModel)]="formData.model"
                        class="text-base text-slate-950 w-full bg-transparent border-none focus:outline-none"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap gap-8 mt-8 max-md:max-w-full">
                  <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
                    <div
                      class="flex flex-col items-start py-2.5 pr-20 pl-4 bg-white rounded-xl border border-solid border-neutral-200 max-md:pr-5"
                    >
                      <label for="mileage" class="text-sm text-zinc-500">
                        Mileage (optional)
                      </label>
                      <input
                        type="number"
                        id="mileage"
                        name="mileage"
                        [(ngModel)]="formData.mileage"
                        class="text-base text-slate-950 w-full bg-transparent border-none focus:outline-none"
                      />
                    </div>
                  </div>
                  <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
                    <div
                      class="flex flex-col items-start py-2.5 pr-20 pl-4 bg-white rounded-xl border border-solid border-neutral-200 max-md:pr-5"
                    >
                      <label for="bestTime" class="text-sm text-zinc-500">Best time</label>
                      <input
                        type="datetime-local"
                        id="bestTime"
                        name="bestTime"
                        [(ngModel)]="formData.bestTime"
                        class="text-base text-slate-950 w-full bg-transparent border-none focus:outline-none"
                        required
                      />
                    </div>
                  </div>
                </div>
                <button
                  type="submit"
                  class="flex flex-wrap gap-2.5 justify-center items-center px-7 py-5 mt-8 text-base font-medium leading-loose text-white bg-blue-600 rounded-xl border border-blue-600 border-solid max-md:px-5"
                >
                  <span class="self-stretch my-auto">Request a Service</span>
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1d528d6010e39fbd0698802c3bcbe12ea237cf7a?placeholderIfAbsent=true&apiKey=f00c02c049754371a6df486ba807890f"
                    class="object-contain shrink-0 self-stretch my-auto w-3.5 aspect-square"
                    alt=""
                  />
                </button>
              </form>
              <p
                class="mt-8 text-sm leading-6 text-slate-950 max-md:max-w-full"
              >
                By submitting this form you will be scheduling a service
                appointment at no obligation and will be contacted within 48
                hours by a service advisor.
              </p>
            </div>
          </div>
          <div class="flex flex-col ml-5 w-[30%] max-md:ml-0 max-md:w-full">
            <div
              class="flex flex-col p-8 w-full bg-white rounded-2xl border border-solid border-neutral-200 text-slate-950 max-md:px-5 max-md:mt-10"
            >
              <h3 class="self-start text-xl font-medium">Opening hours</h3>
              <div class="flex flex-col mt-8 w-full text-base leading-loose">
                <div class="flex gap-3.5 items-center w-full max-w-[340px]">
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Sunday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
                <div
                  class="flex gap-3.5 items-center mt-8 w-full max-w-[340px]"
                >
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Monday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
                <div
                  class="flex gap-3.5 items-center mt-8 w-full max-w-[340px]"
                >
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Tuesday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
                <div
                  class="flex gap-3.5 items-center mt-8 w-full max-w-[340px]"
                >
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Wednesday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
                <div
                  class="flex gap-3.5 items-center mt-8 w-full max-w-[340px]"
                >
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Thursday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
                <div
                  class="flex gap-3.5 items-center mt-8 w-full max-w-[340px]"
                >
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Friday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
                <div
                  class="flex gap-3.5 items-center mt-8 w-full max-w-[340px]"
                >
                  <div
                    class="flex gap-5 justify-between self-stretch my-auto rounded-none min-w-[240px] w-[340px]"
                  >
                    <div>Saturday</div>
                    <div class="font-medium text-right">10:00 - 17:00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>