<main class="flex-grow w-full">
  <app-header *ngIf="isHome"></app-header>
  <app-pages-header *ngIf="!isHome"></app-pages-header>
  <ng-container *ngIf="isHome; else containerWrapper">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #containerWrapper>
    <div class="w-full h-[auto] bg-primary">
      <div class=" w-full bg-white rounded-[5rem] max-md:rounded-[2rem] max-sm:rounded-[1rem] px-4">
        <app-breadcrumb *ngIf="!isHome"></app-breadcrumb>
        <router-outlet></router-outlet>
      </div>
     
    </div>
  </ng-template>
  <app-footer></app-footer>
  <button
    (click)="scrollToTop()"
    class="fixed bottom-6 right-6 bg-secondary text-white px-[10px] py-[5px] rounded-full shadow-lg transition-opacity duration-500"
    [class.opacity-100]="isVisible"
    [class.opacity-0]="!isVisible"
  >
    ↑
  </button>
</main>
