<header
class="flex fixed top-0 flex-wrap gap-5 justify-center items-center w-full  py-4 z-50 h-[100px]
max-xl:bg-primary 


"
[class]="isScrolled ? 'bg-primary bg-opacity-60 transition-all duration-300 text-white' : 'bg-transparent  text-white transition-all duration-300 absolute'"
>

<div class="flex w-full justify-between pl-4 pr-8">
  <div class="flex gap-12 self-stretch items-center relative ">
    <a href="#" class="h-[28px]">
      <h1 class="text-white font-BebasNeue text-[35px] font-bold leading-none tracking-[1.75px] ">
        checkcargeorgia
      </h1>
    </a>

    
  </div>  


  <nav
  class="flex flex-wrap gap-8 items-center text-[15px] font-medium leading-[26px] whitespace-nowrap flex-1 justify-center pl-[5rem]
  max-xl:hidden"
  >
  <div class="flex gap-6 items-center self-stretch w-full justify-center relative">
    <a href="#" class="font-case">{{translations()?.header?.home}}</a>
    <!-- <a routerLink="gallery" class="font-case">{{translations()?.header?.gallery}}</a> -->
    <a routerLink="gallery" class="font-case">pages</a>
    <img src="images/logo.png" alt="" class="w-[67px] bg-white rounded-full">
    <a routerLink="about us" class="font-case">{{translations()?.header?.aboutUs}}</a>
    <a routerLink="contact" class="font-case">{{translations()?.header?.Contact}}</a>
    <!-- <a routerLink="service-page" class="font-case">service</a>
    <a routerLink="terms&conditions" class="font-case">conditions</a>
    <a routerLink="calculator" class="font-case">calculator</a>
    <a routerLink="faq" class="font-case">FAQ</a> -->
  </div>
  </nav>


  <div
  class="flex gap-4 items-center self-stretch text-base font-medium leading-loose relative  "
  >
  

  <div class="flex gap-1 items-center h-[18px] whitespace-nowrap pr-4 transition-all duration-300 ease-in-out hover:scale-105">
    <a href="tel:+995 571 52 50 50"  class="text-[15px] font-medium leading-[26px]">+995 571 52 50 50</a>
    <img src="icons/smartphone.svg" alt="">
    <!-- <app-dropdown>
      <div class="dropdown-trigger">
        Hover or Click Me
      </div>
    
      <div dropdown-item (click)="onItemClick()">Item 1</div>
      <div dropdown-item (click)="onItemClick()">Item 2</div>
      <div dropdown-item (click)="onItemClick()">Item 3</div>
    </app-dropdown> -->
  </div>
    <div class="relative w-6 h-6 bg-white dark:bg-primary rounded-full cursor-pointer transition-all duration-300 ease-in-out hover:scale-105 mr-2" 
      (click)="toggleTheme()">
      <div class="absolute  bg-white dark:bg-primary rounded-full shadow-md transform transition-all duration-700 ">
          <img src="icons/day.svg" alt="" *ngIf="!isDarkMode" class="">
          <img src="icons/dark.svg" alt="" *ngIf="isDarkMode">
      </div>
    </div>
    <span class="w-[1px] h-8 bg-white"></span>
    <div class="relative inline-block transition-all duration-300 ease-in-out hover:scale-105">
      <button class="flex items-center gap-1 text-gray-700 dark:text-white p-1 rounded-lg transition duration-300 hover:bg-gray-300 dark:hover:bg-gray-700 "
        (mouseenter)="toggleDropdown()"
        >
        <img [src]="selectedFlag" alt="Selected Language" class="w-6 h-6 rounded-full">
        <!-- <span>{{ translations.language }}</span> -->
       <img src="icons/arrow-down.svg" alt="">
      </button>
    
      <div *ngIf="isDropdownOpen"
      class="absolute right-[-1rem] mt-3 w-40 bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-700 rounded-lg shadow-lg overflow-hidden transition-all duration-300 ease-in-out hover:scale-105"
      (mouseleave)="toggleDropdown()">

          <button *ngFor="let lang of languages"
                  (click)="changeLanguage(lang.code)"
                  class="flex items-center gap-2 px-4 py-2 w-full text-left font-normal text-gray-700 dark:text-white hover:bg-primary hover:text-white dark:hover:bg-white dark:hover:text-primary transition-all duration-500 ease-in-out">
            <img [src]="lang.flag" alt="{{ lang.name }}" class="w-6 h-6 rounded-full">
            {{ lang.name }}
          </button>
        </div>
      </div>
    </div>
  

</div>



</header>